<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PacketScope | Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap"     rel="stylesheet"/>
    <link rel="stylesheet" href="static/css/index.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
</head>
<body>
<h2>PacketScope</h2>

<ul>
    <li><a href="/templates/timeline.html">Timeline</a></li>
    <li><a href="/templates/flows.html">Active Flows</a></li>
    <li><a href="/templates/talkers.html">Top Talkers</a></li>
    <li><a href="/templates/packets.html">Raw Packets</a></li>
</ul>
</body>
</html>