<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PacketScope - Probe</title>
  <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet" />
  <link href="/static/css/requests.css" rel="stylesheet" />
</head>

<body>
  <div class="app">
    <div class="sidebar">
      <div class="logo">
        <img src="../static/images/packetscopeLogo.jpeg" style="height: 50px; width: 50px" alt="logo" />
        <p>PacketScope</p>
      </div>
      <div class="nav">
        <a class="active" href="/templates/index.html">Monitor</a>
        <a href="/templates/requests.html">Console</a>
      </div>
    </div>

    <!-- Main Section -->
    <main class="main">

      <div class="section-title">Probe</div>
      <div class="grid">
          <div class="tile active" role="button" onclick="load('transaction.html'), this">
              <h3>Probe</h3>
              <p>Sent requests</p>
          </div>
          <div class="tile" role="button" onclick="load('history.html'), this">
              <h3>Transactions</h3>
              <p>saved transaction history</p>
          </div>
      </div>


      <iframe id="view" src="/templates/new-requests.html" class="contents">

      </iframe>
    </main>
  </div>
<script src="/static/js/requests.js" defer></script>
</body>

</html>