<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PacketScope - Requests</title>
  <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet" />
  <link href="/static/css/requests.css" rel="stylesheet" />
</head>

<body>
  <div class="app">
    <div class="sidebar">
      <div class="logo">
        <img src="../static/images/packetscopeLogo.jpeg" style="height: 50px; width: 50px" alt="logo" />
        <p>PacketScope</p>
      </div>
      <div class="nav">
        <a href="/templates/index.html">Monitor</a>
        <a class="active"  href="/templates/requests.html">Requests</a>
      </div>
    </div>

    <!-- Main Section -->
    <main class="main">

      <div class="section-title">Requests</div>
      <div class="grid">

          <div class="tile active" role="button" tabindex="0" onclick="load('/templates/new-request.html', this)">
              <h3>New request</h3>
              <p>Create new transaction</p>
          </div>

          <div class="tile" role="button" tabindex="0" onclick="load('/templates/saved-requests.html', this)">
              <h3>Saved requests</h3>
              <p>saved transaction history</p>
          </div>
      </div>

        <div class="iframe-shell"><iframe id="view" src="/templates/new-request.html"></iframe></div>

    </main>
  </div>

<script src="/static/js/requests.js" defer></script>
</body>

</html>