@font-face {
    font-family: "Michroma";
    src: url("/fonts/Michroma/Michroma-Regular.ttf");
}

.root {
    -fx-background-image: url("/images/background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-font-family: "Michroma";
}

.title {
    -fx-padding:60px 0 100px 0;
    -fx-text-fill: white;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-alignment:CENTER;
}
.place-label{
    -fx-padding:10px 0 10px 0;
    -fx-text-fill: white;
    -fx-font-size: 16px;

}
.input-field{
/*    -fx-background-color: rgba(255,255,255,0.5);*/
    -fx-text-fill: black;
    -fx-font-size: 16px;
    
}

.login-btn {
    -fx-background-color: #1c1c1c;
    -fx-text-fill: white;
    -fx-font-family: "Michroma";
    -fx-font-size: 16px;
    -fx-pref-width: 160px;
    -fx-pref-height: 50px;

    -fx-border-color: #1a73e8;
    -fx-border-width: 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;

    -fx-padding: 10 25 10 25;
    -fx-cursor: hand;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 5, 0, 0, 2);
}
.login-btn:hover {
    -fx-background-color: #2a2a2a;
    -fx-border-color: #4285f4;
}