@font-face {
    font-family: "Michroma";
    src: url("/fonts/Michroma/Michroma-Regular.ttf");
}

.root {
    -fx-background-image: url("/images/background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-font-family: "Michroma";
}

.protectedLabelStart {
    -fx-font-family: "Michroma";
    -fx-text-fill: rgba(255, 255, 255, 1);
    -fx-font-size: 16px;
    -fx-background-color: rgba(0, 225, 121, 0.51);
    -fx-padding: 5 10 5 10;
    -fx-margin: 20 0 0 0;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.title-label {
    -fx-padding:60px 0 100px 0;
    -fx-text-fill: white;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-alignment:TOP_CENTER;
}


.primary-button {
    -fx-background-color: #1c1c1c;
    -fx-text-fill: white;
    -fx-font-family: "Michroma";
    -fx-font-size: 16px;
    -fx-pref-width: 180px;
    -fx-pref-height: 50px;

    -fx-border-color: #1a73e8;
    -fx-border-width: 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;

    -fx-padding: 10 25 10 25;
    -fx-cursor: hand;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 5, 0, 0, 2);
}
.primary-button:hover {
    -fx-background-color: #2a2a2a;
    -fx-border-color: #4285f4;
}

/* List View Styles */

.capturedPackets{
    -fx-text-fill:white;
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, transparent 5%, rgba(0,0,0,0.5) 100%);    
}
.list-cell {
    -fx-background-color: transparent;
    -fx-text-fill:white;
}
.list-view .scroll-bar:vertical {
    -fx-background-color: rgba(0,0,0,0.7); 
}

.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: rgba(255,255,255,0.3); 
    -fx-background-insets: 0;
    -fx-background-radius: 5px;
}

