
:root {
    --bg: rgb(12, 12, 12);
    --panel: rgba(20,25,32,0.9);
    --grid: rgba(255,255,255,0.05);
    --text: #c9d1d9;
    --accent: #00e5ff;
}

html, body {
    margin: 0;
    height: 100%;
    background:
        linear-gradient(var(--grid) 1px, transparent 1px),
        linear-gradient(90deg, var(--grid) 1px, transparent 1px),
        var(--bg);
    background-size: 40px 40px;
    font-family: "Michroma", sans-serif, system-ui, monospace;
    color: var(--text);
}

.container {
    max-width: 1400px;
    margin: auto;
    padding: 30px;
    position: relative;
}

.header {
    position: fixed;
    top: 0;
    left: 30px;
    right: 30px;
    z-index: 100;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    box-sizing: border-box;
}

.title {
    font-size: 20px;
    letter-spacing: 1px;
}

.status {
    font-size: 12px;
    color: #7cff6b;
}

.panel {
    background: var(--panel);
    min-width: 97%;
    width: fit-content;
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 10px;
    padding: 15px;
    margin-top: 35px;
    box-shadow: 0 0 40px rgba(0,229,255,0.08);
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
}

th, td {
    padding: 6px 8px;
    border-bottom: 1px solid rgba(255,255,255,0.05);
}

th {
    text-align: left;
    color: var(--accent);
    font-weight: 500;
}

tbody tr{
    font-family:sans-serif, system-ui;
    letter-spacing:1px;
}
tbody tr:hover {
    background: rgba(0,229,255,0.08);
}

.footer {
    font-family:  system-ui, monospace;
    margin-top: 10px;
    font-size: 11px;
    opacity: 0.6;
}