:root {
  --bg: rgb(12, 12, 12);
  --panel: rgb(17, 17, 17);
  --grid: rgba(255, 255, 255, 0.04);
  --text: rgb(210, 210, 210);
  --accent: rgb(79, 127, 250);
  --neon-blue: #1a73e8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Michroma', system-ui, monospace;
}

html, body {
    height: 100%;
    color: #e0e0e0;
}

body {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

h2 {
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Request Panel */
.response-panel,
.request-panel {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgb(14, 14, 14);
  border: 1px solid #222;
  border-radius: 10px;
  padding: 18px;
}

/* Request Row (method + url + button) */
.request-row {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

/* Search Box */
.search-box {
  display: flex;
  height: 50px;
  width: 100%;
  background: rgba(16,16,16);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 5px;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

/* select method */
.select-wrapper{
    position: relative;
    background: transparent;
}

.select-trigger {
    padding: 5px;
    width:120px;
    background: none;
    border: none;
    border-right: 1px solid #333;
    color: #ddd;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.arrow {
    height: 30px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: transform .2s ease;
}

#method-value{
    font-family:sans-serif, system-ui;
    letter-spacing:1px;
}
/* Menu */
.select-menu {
    position: absolute;
    top: 100%;
    margin-top: 2px;
    width:100px;
    background: rgb(16,16,16);
    border: 1px solid #222;
    opacity: 0;
    transform: translateY(-6px);
    pointer-events: none;
    transition: .15s ease;
    z-index: 10;
}

/* Open state */

.select-wrapper.open .select-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.select-wrapper.open .arrow {
    transform: rotate(180deg);
}

/* Options */

.option {
    font-family:sans-serif, system-ui;
    letter-spacing:1px;
    padding: 8px 10px;
    font-size: 11px;
    cursor: pointer;
}

.option:hover {
    background: rgb(28,28,28);
    color: #4ea1ff;
}


.search-box input {
  flex: 1;
  font-family: system-ui, sans-serif;
  letter-spacing: 0.5px;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
}

/* search button */
#send-request {
  padding: 5px;
  width: 100px;
  background-color:#1c1c1c;
  cursor: pointer;
  font-family: sans-serif, system-ui;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  color: var(--text);
  border: 2px solid #1a73e8;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  border-radius: 10px;
}

#send-request:hover {
  background-color: #2a2a2a;
  border-color: #4285f4;
}

/* Request Section */
.request-section h3 {
  margin: 15px 0 8px 0;
  font-size: 12px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}

.query-params {
  display: flex;
  flex-direction: column;
}

.param-row,
.header-row {
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
}

.param-row > label,
.header-row > label{
  flex: 1;
  display: flex;
}

.parameter{
    flex: 1;
    background: rgba(16,16,16);
    border: 1px solid rgba(255, 255, 255, 0.2);
    outline: none;
    padding: 5px 12px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    font-family:sans-serif, system-ui;
    letter-spacing:1px;
}

textarea#request-body {
  width: 98%;
  min-height: 120px;
  background: rgba(16,16,16);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  font-family: monospace;
  font-size: 14px;
  padding: 12px;
  resize: vertical;
}

/* Request Buttons */
#add-param,
#add-header {
  background: #1c1c1c;
  color: rgba(255, 255 , 255, 0.7) ;
  font-family: "Michroma", sans-serif;
  font-size: 12px;
  border: 1px solid rgba(26,115,232, 0.5);
  cursor: pointer;
  padding: 12px 12px;
  transition: all 0.3s ease;
}

.remove-param,
.remove-header {
  height: 32px;
  width: 32px;
  background: #1c1c1c;
  border: 1px solid rgba(255, 255 , 255, 0.2);
  color: rgba(255, 0 , 0, 0.5);
  font-family: "Michroma", sans-serif;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#add-param:hover,
#add-header:hover {
  border-color: #4285f4 ;
}
.remove-param:hover,
.remove-header:hover{
    border-color: rgba(255, 0 , 0, 0.5);
}
/* ============ Response Panel ============== */

.response-panel h4 {
  margin: 10px 0;
  color: #1a73e8;
}

#response-info p {
  margin: 4px 0;
  font-size: 14px;
}

/* animated codes */
.response-tabs .tab {
  background: none;
  border: none;
  color: #1a73e8;
  font-family: "Michroma", sans-serif;
  font-size: 14px;
  padding: 10px 15px;
  cursor: pointer;
  border-bottom: 0px solid rgb(0, 162, 255);
  transition: all 0.1s ease-in-out;
}

.response-tabs .tab.active {
  color: rgb(0, 162, 255);
  font-size: 16px;
  border-bottom: 2px solid rgb(0, 162, 255);
}

/* Tab Content Container */
.tab-content {
  position: relative;
  min-height: 200px;
  background: rgba(16,16,16);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 12px;
  color: #2fff00;
  font-family: monospace;
  white-space: pre-wrap;
  overflow: hidden;
  overflow-y: scroll;
  transition: all 0.3s ease;
}

/* Individual Tab Pane */
.tab-pane {
  position: absolute;
  /* stack all panes in same space */
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  padding: 10px;
  pointer-events: none;
}

/* Active Tab Pane */
.tab-pane.active {
  opacity: 1;
  pointer-events: auto;
}

/* save button */
.save-btn {
  height: 44px;
  width: 120px;
  background-color: #1c1c1c;
  color: white;
  font-size: 16px;
  border: 2px solid #1a73e8;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Michroma", sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.save-btn:hover {
  background-color: #2a2a2a;
  border-color: #4285f4;
}

