/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

:root {
  --bg: rgb(12, 12, 12);
  --panel: rgb(17, 17, 17);
  --grid: rgba(255, 255, 255, 0.04);
  --text: rgb(210, 210, 210);
  --accent: rgb(79, 127, 250);
}

html,
body {
  margin: 0;
  height: 100%;
  background:
    linear-gradient(var(--grid) 1px, transparent 1px),
    linear-gradient(90deg, var(--grid) 1px, transparent 1px), var(--panel);
  font-family: "Michroma", sans-serif, system-ui, monospace;
  background-size: 40px 40px;
  color: var(--text);
}


.app {
  display: flex;
  height: 100vh;
}

/* ----------------- sidebar ----------------- */
.sidebar {
  width: 220px;
  background: var(--bg);
  border-right: 1px solid rgba(255, 255, 255, 0.08);
  padding: 20px;
}

.logo {
  display: flex;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.nav a {
  display: block;
  padding: 10px 12px;
  margin-bottom: 6px;
  color: var(--text);
  text-decoration: none;
  border-radius: 6px;
  transition: all 0.1s ease-in-out;
}

.nav a:hover {
    background: rgba(255, 255, 255, 0.1);
}

.nav .active {
  background: rgba(255, 255, 255, 0.05);
}

.logo h1 {
  font-size: 20px;
  color: #1a73e8;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.logo img {
  height: 50px;
  width: 50px;
}

/*  ----------- main ------------*/

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  overflow-y: auto;
  min-height: calc(100vh - 70px);
}

.section-title {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

/* -------- tabs ---------- */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.tile {
  background: var(--panel);
  border: 1px solid rgba(255, 255, 255, 0.07);
  border-radius: 10px;
  padding: 18px;
  text-decoration: none;
  color: var(--text);
  transition: 0.2s;
}

.tile:hover {
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0 0 10px rgba(79, 127, 250, 0.75);
}

.tile h3 {
  margin: 0 0 6px 0;
  color: var(--accent);
  font-weight: 500;
}

.tile p {
  margin: 0;
  font-size: 12px;
  opacity: 0.75;
}


/* Main Container */

.main-container h2 {
  margin: 10px 0;
  color: rgba(60, 70, 160, 1);
  align-self: center;
}

.iframe-shell {
    flex: 1;
    border-radius: 20px;
    margin: 20px 0;
    background: rgb(16,16,16);
}

iframe {
    display: block;
    width: 100%;
    height:100%;
    border: 1px solid transparent;
}


